*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.idea/*
llava/
_vis_cached/
_vqgan/
_vae/
_vae*/
ckpt/
log/
tb*/
__pycache__/
local_output*
_auto_*
sd-vae-ft-mse/
stable-diffusion-v1-4/
*.pth
*.pth.tar
*.ckpt
*.log
toscli
*.hydra
wandb
*.json
*.csv
*.tar.gz
*.bin
tmp
output
*.tsv
*.mp4
output/*
results/
debug/
weights
checkpoints/
ref.py
wandb
.DS_Store
dinov2
GroundingDINO
.ipynb_checkpoints
pretrained/